.wrapper
	.page
		p How are ya feeling?
		.radio-wrapper
			input(type="radio" id="choice-1" name="choices" value="1")
			label(for="choice-1") Awesome
			input(type="radio" id="choice-2" name="choices" value="2")
			label(for="choice-2") Pretty good
			input(type="radio" id="choice-3" name="choices" value="3")
			label(for="choice-3") Shoot me please
	.gun
		.gun__main
			.gun__handle
				.bottom
				
				.middle
				.top
					.line.line-short
					.line.line-long
					.line.line-long
					.line.line-short
					.line.line-short
			.gun__accent-2
			.gun__accent-1
			.gun__yellow
				.line
			.gun__trigger
			.gun__accent-3
			.gun__accent-4
		.bullet
aside
	p 
		| Check out 
		a(href="https://codepen.io/oliviale/pen/xxboXzo" target="_blank") terrible toggles here
		| . 
